header {
    width: 800px;
    margin: 0 auto;
 
    hgroup {
        h1 {
            color: red;
        }
 
        h2 {
            color: blue;
        }
    }
 
    nav {
        ul {
            overflow: hidden;
        }
 
        li {
            float: left;
        }
    }
}
